@model sistemaFinanceiro.Models.TransacaoModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-5">Criar</h1>

<h4 class="text-center">Criar Transação</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" class="mb-4 p-4 border rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="CategoriaId" class="control-label">Categoria</label>
                <select asp-for="CategoriaId" class="form-control" required>
                    @if (ViewBag.Categorias != null)
                    {
                        @foreach (var categoria in ViewBag.Categorias as List<CategoriaModel>)
                        {
                            <option value="@categoria.CategoriaId">@categoria.IconeComNome</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Valor" class="control-label">Valor</label>
                <input asp-for="Valor" class="form-control" required />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Data" class="control-label">Data</label>
                <input asp-for="Data" class="form-control" required />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
